$bp-desktop-min: 1440px;
$bp-desktop-sm-min: 1280px;
$bp-tablet-min: 768px;

$bp-desktop-sm-max: 1439px;
$bp-tablet-max: 1279px;
$bp-mobile-max: 767px;

$c-yellow: #FFE296;
$c-gray: #D4D4D4;

$tr-time: .2s;

// Fontello-codes
$ft-small-calendar: '\e800';
$ft-star-full: '\e801';
$ft-angle: '\e802';
$ft-crown: '\e803';
$ft-eye: '\e804';
$ft-heart: '\e805';
$ft-paint-roller: '\e806';
$ft-placemark: '\e807';
$ft-point: '\e808';
$ft-rouble: '\e809';
$ft-search: '\e80a';
$ft-check: '\e80b';
$ft-close: '\e80d';
$ft-ellipsis: '\e814';
