.b-vertical-widget {
	&__plate {
		width: 240px;
		height: auto;
		background: #F9F9F9;
		border-radius: 4px;
		padding-top: 29px;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		padding: 0px 24px 9px 28px;
	}
	&__head-icon {
		fill:  #9C3C3B;
	}
	&__title {
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: -0.01em;
		color: #9C3C3B;
		opacity: 0.9;
	}
	&__top {
		padding: 0 20px 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #E3E3E3;		
	}	
	&__item {
		font-family: Roboto;
		font-weight: 500;
		padding: 12px 19px;
		border-bottom: 1px solid #E3E3E3;
		&:hover {
			.b-vertical-widget__item-title {
				color: #9c3c3b;
			}
		}	
	}
	&__item-link {
		display: flex;
		flex-direction: column;
	}
	&__item-title {		
		font-size: 12px;
		color: #3A3430;
		padding-bottom: 4px;
	}
	&__item-text {
		font-size: 11px;
		color: #B4AFAE;
	}
	&__footer {
		padding: 16px 20px;
		&__btns {
			padding-top: 16px;
		}
	}		
	&__all-link {
		width: 100%;
	}
	&__u-btn_white {
		padding-top: 8px; 
    	padding-bottom: 7px; 
    	border-radius: 30px; 
    	border: 1px solid #d4d4d4; 
    	font-weight: 700; 
    	background: #fff; 
    	text-decoration: none; 
    	color: #3a3430; 
    	transition: border-color .2s; 
	}
}