include /blocks/project/b-input-select/b-input-select
include /blocks/project/b-input-text/b-input-text
include /blocks/project/b-tabs-head/b-tabs-head

mixin b-search-widget(data)
	+b.b-search-widget(class=attributes.class)
		+e.plate
			+e.tabs-header
				+e.list
					each item in data.items
						+e.item
							+b-tabs-head(item.data)._small(class=item.mod)

			+e.header
				if data.title
					+e.title!= data.title



			+e.top
				+e.btns
					+e.btn
						+e.all-link.u-btn._white._small(href="#") &#708;				
			+e.main
				+e.items
					+e.item
						+e.A.item-link(href="#")
							+e.item-title ЮИТ
							+e.item-text 1 268 квартир в 32 ЖК						
					+e.item
						+e.A.item-link(href="#")
							+e.item-title INSIGMA
							+e.item-text 1 268 квартир в 32 ЖК
					+e.item
						+e.A.item-link(href="#")
							+e.item-title Сapital Group
							+e.item-text 1 268 квартир в 32 ЖК
					+e.item
						+e.A.item-link(href="#")
							+e.item-title «Строительный альянс»
							+e.item-text 1 268 квартир в 32 ЖК
			+e.footer
				+e.btns
					+e.btn
						+e.all-link.u-btn._white._small(href="#") &#709;
									