.b-article-shelf {
	&__title {
		font-family: Montserrat;
		font-weight: bold;
		line-height: normal;
		font-size: 32px;
		letter-spacing: -0.01em;
	}
	&__header {
		@include mb(32px);
	}
	&__container {
		padding: 32px;
		background: #F9F9F9;
		border-radius: 4px;
	}
	&__wrap {
		display: flex;
	}
	&__left-col
		&__items {
		padding-right: 20px;
		}
	&__right-col
		&__items {
		padding-left: 20px;
		border-left: 1px solid #E3E3E3;
	}	
	&__left-col,
	&__right-col {
		background: #F9F9F9;
		border-radius: 4px;
	}
	&__item {
		padding-top: 16px;
		padding-bottom: 20px;
		border-bottom: 1px solid  #E5E5E5;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	&__footer {
		@include mt(32px)
	}
}

@mixin state_mobile {
	.b-article-shelf {
		&__right-col {
			display: none;
		}
		&__title {
			font-size: 24px;
		}
	}
}

.b-article-shelf_adapt_default {
	@include adaptive-mobile {
		@include state_mobile;
	}
}
