/* Данный файл генерируется автоматически, ручные изменения будут перезатерты */
.u-icon_angle {
    width: 7px;
    height: 11px;
}
.u-icon_burger {
    width: 20px;
    height: 14px;
}
.u-icon_check {
    width: 24px;
    height: 24px;
}
.u-icon_close {
    width: 24px;
    height: 26px;
}
.u-icon_crown {
    width: 24px;
    height: 24px;
}
.u-icon_ellipsis {
    width: 12px;
    height: 12px;
}
.u-icon_eye {
    width: 24px;
    height: 24px;
}
.u-icon_heart {
    width: 24px;
    height: 24px;
}
.u-icon_paint-roller {
    width: 24px;
    height: 24px;
}
.u-icon_placemark {
    width: 24px;
    height: 24px;
}
.u-icon_point {
    width: 16px;
    height: 23px;
}
.u-icon_rouble {
    width: 24px;
    height: 24px;
}
.u-icon_search {
    width: 16px;
    height: 16px;
}
.u-icon_small-calendar {
    width: 24px;
    height: 24px;
}
.u-icon_star-full {
    width: 11px;
    height: 10px;
}
