include /blocks/project/b-article-item/b-article-item

mixin b-article-list(data)
	+b.b-article-list(class=attributes.class)
		+e.plate
			+e.header
				if data.title
					+e.title!= data.title

			+e.main
				+e.items
					each item in data.items
						+e.item
							+b-article-item(item.data)._small(class=item.mod)

			+e.footer
				+e.ui
					+e.ui-item
						+e.A.all-link.u-btn._transparent._small(href=data.allLink)!= data.allText
